p {
	margin-left: 5vw;
	margin-right: 5vw;
	font-family: "Big Caslon Reg", Baskerville, Georgia, serif;
    font-style: normal;
    font-weight: normal;
	font-size: 2em;
}

.the-end {
	margin-top: 40vh;
	margin-bottom: 30vh;
	margin-left: 70vw;
	margin-right: 5vw;
	font-size: 7em;
}

.why {
	margin-left: 50vw;
	margin-bottom: 50vh;
}

.wonder {
	margin-left: 30vw;
	margin-bottom: 30vh;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(16,106,63);
}

a:active {
  color: rgb(16,106,63);
}

@media screen and (max-width: 800px) {
  	.the-end {
  		color: rgb(16,106,63);
  	}
}

