body {
    font-family: Arial;
    margin-left: 20px;
    background-color: #FDECD8;
}

.title {
	font-family: fairwater-open-serif, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 3.5rem;
}

h2 {
	font-family: sweet-sans-pro, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1.75vw;
	color: #FF1D8E;
}

.nav-bar {
	width: 100%;
	list-style: none;
	position: absolute;
	top: 100px;
	left: -30px;
	right: 0px;
	height: 10vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.nav-item {
	font-family: sweet-sans-pro, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1.75vw;
	margin: 2.5vw;
}

/* unvisited link */
a:link {
  text-decoration: none;
  color: black;
}

/* visited link */
a:visited {
  text-decoration: none;
  color: black;
}

/* mouse over link */
a:hover {
  text-decoration: none;
  color: #FF1D8E;
}

/* selected link */
a:active {
  text-decoration: none;
  color: #FF1D8E;
}

.hamburger-menu {
	position: absolute;
	position: fixed;
	top: 40px;
	right: 20px;
	display: none;
	z-index: 10;
}

.line {
	background-color: black;
	width: 40px;
	height: 3px;
	margin: 10px;
}

.mobile {
	margin-top: 40px;
}

.mobile-nav {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: pink;
	justify-content: center;
	text-align: left;
	display: none;
}

.mobile-nav.open {
	display: flex;
	z-index: 5;
}

.mobile-nav-item {
	list-style: none;
	margin: 10vw;
	margin-left: -30px;
	margin-top: 70px;
	font-size: 1.9rem;
	font-family: sweet-sans-pro, sans-serif;
	font-weight: 700;
	font-style: normal;
}

.ingredient-filters {
	margin-top: 18vh;
	display: flex;
	width: 70%;
	margin-right: auto;
	margin-left: auto;
}

.ingredient-filters label {
	position: relative;
	display: block;
	padding: .3vw;
	font-size: 1rem;
	font-family: sweet-sans-pro, sans-serif;
	font-weight: 600;
	font-style: normal;
}

.column {
	flex: 33%;
}

.container {
	display: grid;
	margin-top: 10vh;
	margin-right: 5vw;
	margin-left: -.5vw;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 1vw;
	grid-row-gap: 0px;
	width: 100%;
}

.title {
	text-align: center;
}

.dessert-container {
	margin: 2vh;
	width: 190px;
	word-wrap: break-word;
}

.image {
	object-fit: cover;
	width: 190px;
	height: 190px;
}

/*.image.active {
	display: block;
	
}*/

.name {
	display: none;
}

.name.active {
	display: block;
	text-align: center;
	font-family: fairwater-solid-serif, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.5rem;
}

.country {
	display: none;
}

.country.active {
	display: block;
	font-family: sweet-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.continent {
	display: none;
}

.continent.active {
	display: block;
	font-family: sweet-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.ingredients {
	display: none;
}

.ingredients.active {
	display: block;
	width: 190px;
	font-family: sweet-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.info {
	display: none;
}

.info.active {
	display: block;
	width: 190px;
	font-family: sweet-sans-pro, sans-serif;
	font-weight: 600;
	font-style: normal;
}


@media only screen and (max-width: 600px) {

	.title {
		font-size: 3.5rem;
		text-align: left;
		margin-bottom: 0px;
	}

	.nav-bar {
		display: none;
	}

	.ingredient-filters {
		width: 100%;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.ingredient-filters label {
		font-size: 0.7rem;
	}

	.container {
		margin-top: 10px;
	}

	.dessert-container {
		width: 300px;
		display: block;
	}

	.image {
		object-fit: cover;
		width: 300px;
		height: 300px;
	}

	.hamburger-menu {
		display: block;
	}
}
