.top {
	position: absolute;
	top: 0vh;
	left: 0vw;
	right: 0vw;
	width: 100vw;
	height: 50vh;
	background-color: rgb(136,17,60);
}

.toptext {
	margin: 10vw;
	font-family: "Big Caslon Reg", Baskerville, Georgia, serif;
    font-style: normal;
    font-weight: normal;
	font-size: 3em;
	color: white;
}

.bottomtext {
	margin: 10vw;
	font-family: "Big Caslon Reg", Baskerville, Georgia, serif;
    font-style: normal;
    font-weight: normal;
	font-size: 3em;
}

.begin {
	color: rgb(16,106,63);
	text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.bottom {
	position: absolute;
	top: 50vh;
	left: 0vw;
	right: 0vw;
	width: 100vw;
	height: 50vh;
}
