.text {
	margin-left: 5vw;
	margin-right: 5vw;
	font-family: "Big Caslon Reg", Baskerville, Georgia, serif;
    font-style: normal;
    font-weight: normal;
	font-size: 2em;
}

#number {
	margin-left: 5vw;
	margin-right: 5vw;
	font-family: "Big Caslon Reg", Baskerville, Georgia, serif;
    font-style: normal;
    font-weight: normal;
	font-size: 1em;
	text-align: center;
}

#sentence {
	margin-left: 5vw;
	margin-right: 5vw;
	padding: 5vw;
	font-family: "Big Caslon Reg", Baskerville, Georgia, serif;
    font-style: normal;
    font-weight: normal;
	font-size: 1.5em;
	text-align: center;
	background-color: rgb(136,17,60);
	color: white;
}

.end {
	color: rgb(136,17,60);
	text-decoration: none;
}

.semicolons {
	margin-left: 5vw;
	margin-right: 5vw;
	font-family: "Big Caslon Reg", Baskerville, Georgia, serif;
    font-style: normal;
    font-weight: normal;
	font-size: 1em;
	text-align: center;
}

.sc {
	margin-left: 5vw;
	margin-right: 5vw;
	font-family: "Big Caslon Reg", Baskerville, Georgia, serif;
    font-style: normal;
    font-weight: normal;
	font-size: 7em;
	text-align: center;
}

#sc-2 {
	color: rgb(16,106,63);
	text-decoration: none;
}

.pg-1 {
	margin-top: 10vh;
}

.pg-2 {
	margin-top: 30vh;
}

.pg-3 {
	margin-top: 40vh;
	margin-bottom: 10vh;
}
