.container {
	margin-bottom: 100px;
}
.column {
	float: left;
  	width: 50%;
}

@media screen and (max-width: 800px) {
	.column {
    	width: 100%;
  	}
  	.word {
  		display: block;
  		margin: auto;
  	}
  	.act {
  		display: block;
  		margin: auto;
  	}
	.inthe {
		margin-top: 1vh;
	}
}

.text {
	margin-left: 5vw;
	margin-right: 5vw;
	font-family: "Big Caslon Reg", Baskerville, Georgia, serif;
    font-style: normal;
    font-weight: normal;
	font-size: 2em;
}

.inthe {
	text-align: center;
	margin-left: 5vw;
	margin-right: 5vw;
	font-family: "Big Caslon Reg", Baskerville, Georgia, serif;
    font-style: normal;
    font-weight: normal;
	font-size: 2.5em;
}

.word {
	display: block;
	width: 50vw;
	text-align: center;
	font-family: "Big Caslon Reg", Baskerville, Georgia, serif;
    font-style: normal;
    font-weight: normal;
	font-size: 7em;
	color: rgb(136,17,60);
	text-decoration: none;
}

.act {
	display: block;
	width: 50vw;
	text-align: center;
	font-family: "Big Caslon Reg", Baskerville, Georgia, serif;
    font-style: normal;
    font-weight: normal;
	font-size: 7em;
	color: rgb(16,106,63);
	text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.bottomtext {
	margin-left: 5vw;
	margin-right: 5vw;
	margin-top: 10vh; 
	font-family: "Big Caslon Reg", Baskerville, Georgia, serif;
    font-style: normal;
    font-weight: normal;
	font-size: 1.5em;

}

