body {
    font-family: Arial;
    margin-left: 20px;
    background-color: #FDECD8;
}

.nav-bar {
	width: 100vh;
	height: 30vh;
	list-style: none;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 90%;
	height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.nav-item {
	text-align: center;
	font-family: sweet-sans-pro, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 2.25vw;
}

.ingredient-filters {
	margin-top: 20vh;
	display: flex;
}

.ingredient-filters label {
	position: relative;
	display: block;
	padding: .5vw;
	font-size: 1.5rem;
}

.column {
	flex: 50%;
}

.container {
	margin-top: 20vh;
}

.title {
	text-align: center;
}

.dessert-container {
	display: block;
	width: 200px;
	padding: 1rem;
	margin: 5vh;
	background-color: pink;
}

.image {
	object-fit: cover;
	width: 200px;
	height: 200px;
}

/*.image.active {
	display: block;
	
}*/

.name {
	display: none;
}

.name.active {
	display: block;
}

.country {
	display: none;
}

.country.active {
	display: block;
}

.continent {
	display: none;
}

.continent.active {
	display: block;
}

.ingredients {
	display: none;
}

.ingredients.active {
	display: block;
	font-size
